.help-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  padding: 2rem;
  background: #F3F2EC;

  
}

.help-page .help-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.help-page .help-menu {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e0e0e0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.help-page .table-list {
  display: flex;
  gap: 2rem;
}

.help-page .help-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rules-box,
.admin-letter-box {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background:  #EDEBE4;
  border-radius: 20px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}

.rules-box:hover,
.admin-letter-box:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.rules-box .rules-frame,
.admin-letter-container {
  display: flex;
  flex-direction: column;
}

.rules-frame p {
  background: #fcfcfc;
  border-left: 6px solid #6f6c6c;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  font-size: 1rem;
  color: #333;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}

.rules-box .rules-frame p:hover {
  background: #fcfcfc;
  border-left-color:#cecece;
  transform: translateY(-4px);
}

.admin-letter-frame span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2f2f36;
}

.admin-letter-frame p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555777;
  line-height: 1.7;
}

.admin-input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.admin-input-box label {
  font-weight: 600;
  font-size: 1rem;
  color: #1a1a3f;
}

.admin-input-box input,
.admin-input-box textarea {
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.03);
  transition: all 0.2s;
}

.admin-input-box input:focus,
.admin-input-box textarea:focus {
  border-color: #6a5acd;
  outline: none;
  box-shadow: 0 0 0 3px rgba(106, 90, 205, 0.2);
}

.accordion-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
