.order-page {
	width: 100%;
	height: auto;
	background: #F3F2EC;
	display: flex;
}

.order-page .order-container {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
}

.order-page .order-left {
	width: 860px;
	height: auto;
	margin-left: 40px;
	
}

/* Container styling */
.order-right {
	position: relative;
	padding: 25px;
	width: 100%;
	height: 370px;
	background: #EDEBE4;
	border-radius: 48px;
	box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15), inset -1px 0px 16px 8px rgba(24, 23, 112, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease;
	margin-top: 70px;
	
  }
  
  /* Profile header */
  .profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
  }
  
  /* Avatar container */
  .profile-img-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
  }
  
  .profile-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	object-fit: cover;
  }
  
  .profile-type-icon {
	position: absolute;
	bottom: 5%;
	right: 5%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	padding: 8px;
  }
  
  /* Profile details */
  .profile-details {
	display: flex;
	flex-direction: column;
  }
  
  .profile-name {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #333;
  }
  
  .profile-type {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #777;
  }
  
  /* Profile address */
  .profile-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .profile-address {
	display: flex;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #555;
  }
  
  .profile-address span {
	margin-left: 10px;
  }
  
  /* Social links */
  .profile-social-links {
	display: flex;
	justify-content: flex-start;
	margin-top: 40px;
	gap: 10px; /* Iconlar orasidagi masofa */
}
.social-icons {
	display: flex;
	gap: 20px; /* Iconlar orasidagi masofa bu yerga kerak */
}

  
  .social-icons svg {
	cursor: pointer;
	color: #555;
	font-size: 32px; /* iconlar kattalashdi */
	transition: color 0.3s ease;
  }
  
  .social-icons svg:hover {
	color: #0078d4;
  }
  
  

.order-page .order-left .order-nav-frame {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 1px solid #f8f8ff;
}

.order-page .order-left .order-nav-frame .table-list {
	display: flex;
	justify-content: space-between;
}

.order-page .css-1gsv261 {
	width: 75%;
}

.order-page .css-heg063-MuiTabs-flexContainer {
	justify-content: space-between;
}

.order-page .order-main-content {
	width: 855px;
	height: auto;
}

.order-page .css-19kzrtu {
	padding-top: 24px;
}

.order-page .order-main-content .order-main-box {
	position: relative;
	width: 100%;
	max-height: 285px;
	margin-bottom: 25px;
	background: #EDEBE4;;
	box-shadow: 3px -2px 20px 2px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.order-page .order-main-content .order-main-box .order-box-scroll {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 105px;
	max-height: 205px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	overflow-y: scroll;
}

.order-page .order-main-content .order-main-box .order-box-scroll::-webkit-scrollbar {
	width: 7px;
}

.order-page .order-main-content .order-main-box .order-box-scroll::-webkit-scrollbar-thumb {
	background-color: #8989db;
	border-radius: 5px;
}

.order-page .order-box-scroll .orders-name-price {
	position: relative;
	height: 47px;
	margin-top: 5px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order-page .order-box-scroll .orders-name-price .order-dish-img {
	position: relative;
	width: 50px;
	height: 47px;
	border-radius: 29px;
	background-size: cover;
	border: 2px solid #c4c4c4;
	box-shadow: 0 0 8px rgba(19, 29, 19, 0.5);
}

.order-page .order-box-scroll .orders-name-price .title-dish {
	position: relative;
	width: 260px;
	height: 36px;
	margin-left: 20px;
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 36px;
	color: #000000;
}

.order-page .order-box-scroll .orders-name-price .price-box {
	position: relative;
	max-width: 170px;
	height: 100%;
	margin-left: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.order-page .order-box-scroll .orders-name-price .price-box p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #262626;
}

.order-page .order-main-content .order-main-box .total-price-box {
	position: relative;
	width: 100%;
	height: 41px;
	margin: 7px 0 7px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}

.order-page .order-main-content .total-price-box .cancel-button {
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	max-height: 40px;
	color: #f8f8ff;
	background: #c2b143;
}

.order-page .order-main-content .total-price-box .pay-button {
	background: #828282;
	color: #f8f8ff;
	border-radius: 10px;
	max-height: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-main-content .total-price-box .verify-button {
	background: #828282;
	color: #f8f8ff;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-main-content .order-main-box .total-price-box .box-total {
	position: relative;
	max-width: 535px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.order-page .total-price-box .box-total p {
	margin-left: 20px;
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 36px;
	color: #000000;
}

.order-page .total-price-box .box-total .data-compl {
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 36px;
	color: #000000;
}
